.grid {
    height: 600px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    background-color: lightslategray;
}

.grid div {
    height: 40px;
    width: 40px;
}

.bomb {
    background-color: darkorange;
    border-radius: 50px;
}

.start {
    font-size: 20px;
    padding: 15px;
    border-radius: 10px;
}

.checked {
    background-color: rgb(54, 228, 54);
    border-bottom-left-radius: 100%;
    border-top-right-radius: 100%;
}

