.grid {
    height: 600px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(152, 166, 180);
}

h1, h2 {
    display: flex;
    justify-content: center;
}

.grid div {
    height: 40px;
    width: 40px;
    outline: 1px solid black;
}

.start {
    font-size: 20px;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: white;
}

.checked {
    background-color: rgb(172, 33, 18);
}

#result {
    font-size: 20px;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;

}

.flagss {
    outline: 2px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.above {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.flag {
    display: flex;
    justify-content: center;
    font-size: 25px
}

.bomb  {
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.game {
    display: flex;
    justify-content: center;
}
.resultss {
    display: flex;
    justify-content: center;
}