.grid {
    height: 600px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(152, 166, 180);
}

.grid div {
    height: 40px;
    width: 40px;
    outline: 1px solid black;
}

.start {
    font-size: 20px;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.checked {
    background-color: rgb(54, 228, 54);
}

#result {
    font-size: 20px;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    outline: 1px solid black
}

.flagss {
    outline: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.above {
    display: flex;
    flex-direction: row;
}

